.events-page__text-main{
    font-size: min(3.5vw, 40px);
    margin-bottom: 6%;    
    margin-top: 4%;
}

.events-page__card__container{
    border-radius: 7%;
    background: #FFF;
    box-shadow: 0.4vh 0.6vh 2.2vh 0px rgba(0, 0, 0, 0.25);
    height: min(36vw, 400px);
    width: min(28vw, 350px);
    padding-bottom: 2vh;
}

.events-page__text-container{
    height: 35%;
    padding-top: 5%;
}
.events-account__dropdown {
    width: 1.1em;
    height: 1.2em;
}

.card__text-main{
    font-size: min(3.3vw, 32px);
}
.card__text-second{    
    font-size: min(2.8vw, 24px);
}

.card__no-data{
    width: 100%;
    height: 50vh;
    color: rgba(54, 20, 20, 0.4);
}

.events-page__card__image{
    border-radius: 100%;
    border: 0.2vh solid #FFDB58;
    filter: drop-shadow(0.2vh 0.2vh 0.2vh rgba(0, 0, 0, 0.10));
    height: 30vh;
    width: 30vh;
    max-height: 200px;
    max-width: 200px;
}

.events-page__container{
    width: 100%;
}
.account__no-photo{
    height: 60%;
    width: 60%;
    max-height: 130px; 
    max-width: 115px;
}