.reserve-card {
    border-radius: 10%;
}

.reserve-image {
    border-radius: 10%;
}

.children-list-card {
    width: 35vw;
    border-radius: 10%;
}

.children-list {
    max-height: 30vw;
    overflow-y: scroll;
}

.user-name, .user-age {
    font-size: 36;
    color: rgba(0, 0, 0, 0.6);
    width: 6vw;
}

.search-container {
    height: 5vh;
    width: 100%;
}

.search {
    padding: 0;
    height: 5vh;
}

.reserve-text {
    font-size: 2rem;
}

