.reserve-card {
    border-radius: 10%;
}

.reserve-card_image {
    border-radius: 10%;
}

.reserve-card_children-list-card {
    width: 35vw;
    border-radius: 10%;
}

.reserve-card_children-list {
    height: 25vh;
    overflow-y: scroll;
}

.reserve-card_user-name, .reserve-card_user-age {
    color: rgba(0, 0, 0, 0.6);
    width: 6vw;
}

.search-container_reserve-text {
    font-size: 2rem;
}
