.border-radius-10 {
    border-radius: 10%;
}

.reserve-card_children-list-card {
    width: 35vw;
}

.reserve-card_children-list {
    height: 20vh;
    overflow-y: scroll;
}

.reserve-card_user-data {
    width: 6vw;
}

.search-container_reserve-text {
    font-size: 2rem;
}
